= semantic_form_for @notification do |f|
  = hidden_field_tag :api_key, params[:api_key]
  = f.inputs 'Notification' do
    = f.input :queue
    = f.input :message
  = f.buttons do
    = f.commit_button
