!!!
%html
  %head
    %title Operator
    = stylesheet_link_tag :all
    - if defined?(HoptoadNotifier)
      :javascript
        var notifierJsScheme = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + notifierJsScheme + "hoptoadapp.com/javascripts/notifier.js' type='text/javascript'%3E%3C/script%3E"));
        Hoptoad.setKey('#{HoptoadNotifier.configuration.api_key}');
    = javascript_include_tag :jquery, :defaults
    = csrf_meta_tag
    %style
      :sass
        body
          width: 900px
          margin: 18px auto
      
        #breadcrumb
          background: #000
          padding: 5px
          color: #fff
          
          a
            color: #fff
        
        code.pre
          display: block
          white-space: pre
          padding: 4px
          border: 1px solid #ccc
          background: #eee
          margin: 5px 0
      
        table
          border-collapse: collapse
          width: 900px
          
          td, th
            padding: 4px 8px
            vertical-align: top
            max-width: 500px
          
          th
            text-align: left
            border-bottom: 2px solid #aaa
          
          td
            border-bottom: 1px solid #ccc
        
          pre
            margin: -4px -8px
            padding: 4px 7px
            border-left: 1px solid #ccc
            border-right: 1px solid #ccc
            white-space: pre-wrap
            overflow: hidden
            
  %body
    = yield
